html, body{
	margin: 0;
	padding: 0;
}
body {
	background: #333333;
	font: 1em monospace;
	white-space: pre;
	color: #BBCCBB;
}
body > div {
	position: absolute;
	padding: 10px;
	overflow: hidden;
}
#hold {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#prof {
	top: 0;
	right: 0;
}
